@use "@/shared/styles/admin" as s;

.admin-crack-safe-rule-reward-fields {
  min-width: 0;

  display: grid;
  gap: 12px;

  margin: 0;
  padding: 14px;

  border: 1px solid s.$admin-border;
  border-radius: s.$admin-radius;
  box-shadow: s.$admin-shadow;
}

.admin-crack-safe-rule-reward-fields__title {
  padding: 0 6px;

  font-size: 14px;
  font-weight: 700;

  color: s.$admin-text-secondary;
}

.admin-crack-safe-rule-reward-fields__content {
  display: grid;
  gap: 12px;
}

.admin-crack-safe-rule-reward-fields__promo-codes {
  display: grid;
  gap: 10px;
}
