@use "../shared/styles/index" as s;

.page {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.page__body {
  width: min(968px, 100%);
  margin: s.$space-2 auto 0;
  display: grid;
  gap: s.$space-2;
  padding: s.$space-2;
  flex-grow: 1;
}

.page__meta {
  margin: 0;
  text-align: center;
  color: s.$color-warm-overlay;
  font-size: 0.8rem;
  letter-spacing: 0.03em;
}
