@use "@/shared/styles" as s;

.client_layout {
  display: flex;
  flex: 1 1;
  flex-direction: column;

  & .client_layout-content {
    width: min(968px, 100%);

    margin: 0 auto;
    padding: s.$space-2;

    display: flex;
    flex: 1 1;
    justify-content: center;

    overflow: hidden;
  }
}
