@use "@/shared/styles/admin" as s;
@use "@/shared/styles/admin-hover-scrollbar";

.admin-css-layout {
  width: 100%;
  min-width: 0;
  min-height: 100dvh;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  color: s.$admin-text;
  background-image: linear-gradient(45deg, #29323c, #485563);
}

.bg-theme {
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  transition: background 0.2s;
}
