@use "@/shared/styles/admin" as a;
@use "@/shared/styles" as s;

.input-base {
  width: 100%;
  height: 40px;

  padding: 8px 12px;

  background: a.$admin-surface-dark;
  border: 1px solid a.$admin-border;
  border-radius: s.$radius-sm;
  box-shadow: a.$admin-shadow;
  outline: none;

  &:focus {
    border-color: a.$admin-primary;
  }
}
