@use "@/shared/styles/admin" as s;

.prize-row {
  width: 100%;
  min-width: 100%;

  display: grid;
  align-items: center;
  grid-template-columns: var(--grid-table-columns);

  border-bottom: 1px solid s.$admin-border;
}

.prize-row:last-child {
  border-bottom: 0;
}

.prize-row__cell {
  min-width: 0;

  padding: 10px;

  overflow: hidden;

  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.prize-row__cell > * {
  min-width: 0;
}

.prize-row__status {
  font-weight: 700;
}

.prize-row__metadata {
  font-size: 15px;
}

.prize-row__actions {
  min-width: 0;

  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}
