@use "@/shared/styles" as s;

.lottery-page {
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.lottery-page__body {
  width: min(968px, 100%);

  margin: 0 auto;
  padding: s.$space-2;

  display: grid;
  flex-grow: 1;
  gap: s.$space-2;
}
