@use "@/shared/styles/admin" as s;

.admin-page-header {
  min-width: 0;
}

.admin-page-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-page-header__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.admin-page-header__divider {
  height: 1px;

  margin: 12px 0;

  background: s.$admin-border;
}
